body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: toRem(30) toRem(16);
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&.popup_show {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}
	// .popup__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__content
	&__content {
		visibility: hidden;
		transform: scale(0);
		transition: transform 0.3s ease 0s;
		width: 100%;
		box-shadow: 0 toRem(10) toRem(42) 0 rgba(0, 0, 0, 0.4);
		background: radial-gradient(123.1% 129.95% at 91.34% 31.81%, #1c262c 77.13%, #224f4a 100%);
		border: toRem(2) solid #222e35;
		border-radius: toRem(12);

		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: $mobileSmall) {
			padding: toRem(64) toRem(52);
			width: toRem(500);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(40) toRem(24);
			width: toRem(328);
		}
		.lock & {
			visibility: visible;
		}

		.popup_show & {
			visibility: visible;
			transform: scale(1);
		}
	}
	// .popup__title
	&__title {
		font-size: toRem(38);
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}
	// .popup__text
	&__text {
		@media (min-width: $mobile) {
			font-size: toRem(19);
		}
		@media (max-width: $mobile) {
			font-size: toRem(18);
		}
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
	}
	// .popup__button
	&__button {
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}
