.cases {
	// in common

	// .cases__container
	&__container {
	}
	// .cases__header
	&__header {
		// in common
	}
	// .cases__title
	&__title {
	}
	// .cases__img
	&__img {
		position: absolute;
		z-index: -1;
		object-fit: contain;
		@media (min-width: $mobileSmall) {
			width: toRem(358);
			height: toRem(360);
			right: toRem(-98);
			top: toRem(-155);
		}
		@media (min-width: $mobile) {
			width: toRem(424);
			height: toRem(426);
			left: toRem(529);
			top: toRem(-157);
		}
		@media (max-width: $mobileSmall) {
			width: toRem(297);
			height: toRem(298);
			right: toRem(-160);
			top: toRem(25);
		}
	}

	// .cases__list
	&__list {
		display: grid;
		position: relative;
		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
			gap: toRem(40) toRem(16);
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(60) toRem(16);
		}
	}

	// .cases__pagging
	&__pagging {
		margin-top: toRem(120);
	}
}

.custom-pagination {
	// .custom-pagination__list
	&__list {
		display: flex;
		justify-content: center;
		gap: toRem(16);
		& a,
		& span {
			min-width: toRem(44);
			min-height: toRem(44);
			padding: toRem(8);
			line-height: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			font-family: $fontFamilyLufga;
			font-weight: 500;
			font-size: toRem(18);
			text-align: center;
		}

		& a {
			border: toRem(2) solid var(--gray1);
			color: var(--tiffany);
			@media (any-hover: hover) {
				transition: border-color 0.3s ease;
				&:hover {
					border-color: var(--tiffany);
				}
			}
		}

		& span {
			pointer-events: none;
			color: var(--black);
			background-color: var(--tiffany);
		}
	}
}
