.solutions {
	// in common
	// .solutions__container
	&__container {
	}
	// .solutions__header
	&__header {
		// in common
	}
	// .solutions__title
	&__title {
	}
	// .solutions__img
	&__img {
		position: absolute;
		z-index: -1;
		object-fit: contain;
		max-width: initial;
		transform: scale(1.3);
		@media (min-width: $mobileSmall) {
			width: toRem(400);
			height: toRem(226);
			right: toRem(-76);
			top: toRem(-80);
		}
		@media (min-width: $mobile) {
			width: toRem(443);
			height: toRem(250);
			left: toRem(581);
			top: toRem(-66);
		}
		@media (max-width: $mobileSmall) {
			width: toRem(400);
			height: toRem(226);
			// right: toRem(-220);
			right: toRem(-150);
			top: toRem(26);
		}
	}

	// .solutions__content
	&__content {
		margin-left: auto;
		@media (min-width: $mobileSmall) {
			max-width: toRem(464);
		}
		@media (min-width: $mobile) {
			max-width: toRem(666);
		}
		& > :not(:last-child) {
			margin-bottom: toRem(40);
		}
		&:not(:last-child) {
			margin-bottom: toRem(80);
		}
	}
	// .solutions__description
	&__description {
		font-family: $fontFamilyLufga;
		font-weight: 500;
		color: var(--white);
		@media (min-width: $mobile) {
			font-size: toRem(24);
		}
		@media (max-width: $mobile) {
			font-size: toRem(22);
		}
	}
	// .solutions__text
	&__text {
		@media (min-width: $mobile) {
			font-size: toRem(19);
		}
		@media (max-width: $mobile) {
			font-size: toRem(18);
		}
	}

	// .solutions__list
	&__list {
		display: grid;

		@media (min-width: toEm(700)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.solution-item {
	position: relative;
	overflow: hidden;

	background: var(--bg-black);
	border: toRem(2) solid var(--gray1);
	border-collapse: collapse;
	display: flex;
	flex-direction: column;
	gap: toRem(140);

	@media (min-width: $mobileSmall) {
		min-height: toRem(680);
		padding: toRem(40) toRem(24) toRem(100);
	}
	@media (min-width: $mobile) {
		min-height: toRem(640);
		padding: toRem(40) toRem(64) toRem(51) toRem(32);
	}
	@media (max-width: $mobileSmall) {
		min-height: toRem(620);
		padding: toRem(24) toRem(16) toRem(34);
	}
	@media (any-hover: hover) {
		&:hover {
			.solution-item__img {
				height: 45%;
				opacity: 1;
			}
			.solution-item__icon {
				transform: translateX(toRem(8));
				box-shadow: toRem(6) 0 toRem(8) 0 rgba(248, 51, 60, 0.7);
				background-color: var(--bg-black);
			}
			.solution-item__content {
				transform: translateY(toRem(-20));
			}
		}
	}

	& > :not(.solution-item__img) {
		position: relative;
		z-index: 1;
	}
	// .solution-item__img
	&__img {
		position: absolute;
		width: 100%;
		height: 45%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: bottom center;
		pointer-events: none;
		opacity: 0;
		transition: all 0.5s ease;
	}
	// .solution-item__icon
	&__icon {
		box-shadow: toRem(6) 0 toRem(8) 0 rgba(248, 51, 60, 0.15);
		background-color: var(--badge-bg1);
		border-radius: toRem(50);
		padding: toRem(10);
		display: grid;
		place-items: center;
		width: toRem(52);
		height: toRem(52);
		transition: all 0.5s ease;

		& svg {
			width: toRem(32);
			height: toRem(32);
			object-fit: contain;
		}
	}
	// .solution-item__content
	&__content {
		transition: transform 0.5s ease;

		& > :not(:last-child) {
			margin-bottom: toRem(12);
		}
	}
	// .solution-item__link
	&__link {
		max-width: fit-content;
	}
	// .solution-item__title
	&__title {
		font-family: $fontFamilyLufga;
		font-weight: 500;
		color: var(--white);
		line-height: 1.32;
		@media (min-width: $mobile) {
			font-size: toRem(25);
		}
		@media (max-width: $mobile) {
			font-size: toRem(23);
		}
	}
	// .solution-item__text
	&__text {
		font-size: toRem(17);
	}
}
